BINARY_NAME=codeduel-be

ENV=production

HOST=0.0.0.0
PORT=5001
PORT_HTTP=5000

MARIADB_HOST=192.168.178.100
MARIADB_PORT=13306
MARIADB_USER=codeduel
MARIADB_PASSWORD=codeduel
MARIADB_DATABASE=codeduel

AUTH_GITHUB_CLIENT_ID=xxxxxxxxxxxxxxxxxxxxxx
AUTH_GITHUB_CLIENT_SECRET=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
AUTH_GITHUB_CLIENT_CALLBACK_URL=http://127.0.0.1:5000/v1/auth/github/callback

FRONTEND_URL=http://127.0.0.1:5173
FRONTEND_URL_AUTH_CALLBACK=http://127.0.0.1:5173/login

COOKIE_DOMAIN="127.0.0.1"
COOKIE_PATH="/"
COOKIE_HTTP_ONLY=true
COOKIE_SECURE=false

CORS_ORIGIN="http://127.0.0.1:5173"
CORS_METHODS="GET,POST,PUT,PATCH,DELETE"
CORS_HEADERS="Content-Type, x-token, Accept, Content-Length, Accept-Encoding, Authorization,X-CSRF-Token"
CORS_CREDENTIALS=true

SSL_KEY=./ssl/server.key
SSL_CERT=./ssl/server.crt
SSL_CERT_FILE=/etc/ssl/certs

JWT_SECRET=secret
JWT_EXPIRES_IN_MINUTES=5
JWT_REFRESH_TOKEN_EXPIRES_IN_MINUTES=43200

SERVICE_TOKEN=secret